.basic_header {
	background-color:#000;
	color:#fff;
	padding: 20px;
	height:fit-content;
	display:flex;
	flex-flow:left;
	justify-content:space-between;
	padding-bottom:0px;
	padding-top:0px;

	h1 {
		padding-bottom:5px;
		padding-top:5px;
		margin: 0px;
	}

}


footer  {
	padding: 10px;
	text-align: center;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', 'sans-serif';
}

#href-list {
	visibility: hidden;
}

#post-screen {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0px;
	background-color: rgba($color: #000000, $alpha: 0.2);
	div {
		margin: 0 auto;
		padding: 1px;

		div {
			background-color: rgba($color: #FFF, $alpha: 1.0);
			width: fit-content;
			width: -moz-min-content;
			max-width: calc(100% - 60px);
			margin: 0 auto;
			padding: 5px 5px;

			h1 {
				margin-bottom: 5px;
				margin-left: 20px;
			}

			.input-screen {
				width: fit-content;
				width: -moz-min-content;
				input {
					padding: 2px;
					margin: 5px 0px;
					font-size: 1em;
					max-width: 100%;
					height: 41px;
					border-width: thin;
					border-color: #000;
					width: 424px;
				}
			}

			.action-screen{
				display: flex;
				max-width: 100%;
				button{
					flex-flow: row-reverse;
					background: #993333;
					border: none;
					padding: 10px;
					margin-top: 5px;
					margin-bottom: 5px;
					color: #FFF;
					margin-left: 10px;
				}

				margin-left: auto;
				margin-right: 30px;
				padding: 0px;
			}
		}

	}
}

.container {
	width: 80%;
	margin: 2rem auto;
	text-decoration: none;

	.center_h1 {
		margin: 0 auto;
		text-align: center;
	}

	.flags {
		display: flex;
		div{
			flex-flow: row;
			margin: 10px;
			padding: 10px 10px;
			background-color: gray;
			color: #fff;
		}
	}

	a {
		text-decoration: none;
	}

	h3 {
		color: #000;
		text-decoration: none;
	}

	p {
		margin: 1rem 0;
	}

	table, td, th {
		border: 1px solid #ddd;
		text-align: left;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		table-layout:fixed;
		word-wrap:break-all;
	}

	th, td {
		padding: 15px;
	}

	table tr {
		width:100px;
	}

	table tr td div {
		overflow: auto;
	}
	
	.mini_td_online{
		color: white;
		background-color: green;
	}

	.mini_td_offline{
		color: white;
		background-color: red;
	}

	h1, h2, h3, h4 {
		margin: 20px 0;
	}

	.search_college_form{
		display: flex;
		input[type=text] {
			padding: 10px;
  			font-size: 17px;
  			border: 1px solid grey;
  			float: left;
			width: calc(100% - 20px);
  			background: #f1f1f1;
		}

	}
	#searching-college{
		width: 100%;
		text-align: center;
		font-size: large;
		font-weight: bold;
		display: none;
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome, Opera and Firefox */
	-webkit-tap-highlight-color: transparent;
}
